html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 12px;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
.opacity{
	opacity: 1 !important;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
	background-color: #fff;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1200px;
	padding: 0px 10px;
	margin: 0 auto;
}

.container-fluid {
	max-width: 100%;
	margin: 0 auto;
}

.body {
	background-image: url('../images/proj.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;

}

.text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;

	color: #FFFFFF;
}

.title {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 60px;
	line-height: 82px;
	text-align: right;
	text-transform: uppercase;

	color: #FFFFFF;

}

.logo {
	filter: drop-shadow(-20px -20px 40px rgba(0, 0, 0, 0.25));
	border-radius: 10px;
}