@import "vars";
@import "global";
@import "fonts";



.vector-box {

    header,
    .header {
        margin-bottom: 362px;

        &-logo {
            margin-right: 98px;
        }

        &-content {
            display: flex;
            justify-content: space-between;

        }

        &-information {
            text-align: right;


        }

        &-title {
            text-align: left;
            max-width: 100%;
            width: 500px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 80px;
            line-height: 80px;
            color: #FFFFFF;
            text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
        }
    }

    .box {

        &-title,
        &-text {
            text-align: center;
        }

        &-title {
            margin-bottom: 10px;
        }

        &-text {
            margin-bottom: 65px;
        }
    }

    .box1 {
        margin-top: 300px;
        display: flex;
        justify-content: space-between;

        &-text,
        &-title {
            text-align: left;
        }

        &-content {
            margin-top: 94px;
            margin-right: 94px;
        }
    }

    footer,
    .footer {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5.46%, rgba(0, 0, 0, 0.4) 23.96%, rgba(0, 0, 0, 0.4) 80.73%, rgba(0, 0, 0, 0) 96.87%);
        width: 1261px;
        height: 526px;
        padding: 90px 60px;
        position: relative;
        z-index: 1;

        &-inner {
            display: flex;
            justify-content: space-between;

        }

        &-text {
            margin-top: 35px;
            text-align: center;

            span {
                color: #E9590C;
            }

            .mail,
            .number,
            .map {
                margin-bottom: 12px;
                display: flex;
                align-items: center;
                text-align: left;
            }

            .map::before {
                margin-right: 20px;
                content: url(../images/3.png);
            }

            .number::before {
                margin-right: 20px;
                content: url(../images/2.png);
            }

            .mail::before {
                margin-right: 20px;
                content: url(../images/1.png);
            }
        }

        &-item {

            width: 380px;
            height: 346px;



            &__title {
                text-align: center;
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 41px;
                /* identical to box height */
                margin-bottom: 41px;
                text-transform: uppercase;

                span {
                    transition: all 0.2s;
                    color: #E9590C;

                    &:hover {
                        color: #fff;
                    }
                }

            }


        }

        &-item:nth-child(1),
        &-item:nth-child(2) {
            border-right: 1px solid white;

        }
    }

    margin-top: 205px;

    position: relative;
    width: 1195px;
    height: 3514px;

    .trajectory {
        position: absolute;
        left: 0;
        top: 0;

    }

    .st0 {

        fill: none;

        stroke-width: 5;

        stroke-dasharray: 30 40;
    }

    .mask-style {

        stroke: white;

    }

    //14029
    #f {
        opacity: 0;
    }

    #final {
        position: absolute;
        top: 84%;
        left: 65%;
    }

    #dot {
        width: 60px;
        height: 60px;
        position: absolute;
        top: -30px;
        left: 0;
        offset-rotate: -3deg;
        motion-path: path('M605.878 68.3506C760.466 4.84069 1060.74 -70.4315 1025.12 136.559C980.592 395.298 581.364 381.656 556.35 535.808C531.335 689.96 570.858 744.072 605.878 784.997C640.898 825.923 780.478 902.771 635.895 961.885C491.312 1021 227.161 957.338 137.109 1025.55C47.0578 1093.76 -27.9851 1134.23 12.0378 1202.44C52.0607 1270.64 740.955 1266.1 765.969 1257C790.983 1247.91 955.578 1111.94 975.589 1052.83C988.061 1015.99 1005.19 916.219 1016.8 841.036C1022.06 806.996 1006.36 773.112 976.477 755.979C916.057 721.335 840.873 683.331 825.503 694.507C800.489 712.696 651.404 712.241 765.969 821.375C869.037 919.556 883.835 922.05 950.971 924.872C967.049 925.548 982.688 930.882 996.03 939.88C1160.21 1050.6 1160.58 1024.93 1170.2 1111.94C1180.21 1202.44 1170.2 1189.25 1170.2 1257C1170.2 1324.76 1255.25 1234.27 1170.2 1429.34C1085.15 1624.42 1344.8 1751.74 1085.15 1837.69C825.503 1923.63 800.49 1946.37 605.878 1964.55C411.266 1982.74 236.666 2091.42 226.66 2155.08C216.655 2218.75 201.646 2250.12 226.66 2291.05C245.711 2322.22 401.99 2306.4 488.747 2293.04C497.125 2291.75 505.2 2289.18 512.761 2285.35C540.674 2271.2 575.929 2251.54 605.878 2231.2M605.878 2231.2C647.658 2202.81 679.114 2173.08 665.912 2155.08C635.895 2114.16 835.509 2028.22 870.529 2028.22C905.549 2028.22 970.586 1927.3 920.558 1919.08C870.529 1910.86 775.474 1823.59 665.912 1882.7C556.35 1941.82 531.336 1973.19 556.35 2073.23C581.364 2173.27 495.815 2098.59 605.878 2231.2ZM605.878 2231.2C710.438 2390.35 809.526 2409.65 764.5 2486.5C719.474 2563.35 910.552 2817.16 665.912 2826.26C421.272 2835.35 371.743 2826.26 286.695 2826.26C201.646 2826.26 -102.528 2767.14 137.109 3170.94C376.746 3574.74 865.526 3080.45 920.558 3080.45C975.589 3080.45 1271.08 2813.89 1131.5 3104C991.92 3394.11 892.583 3469.95 748 3379C603.417 3288.05 327.867 3376.49 411.266 3429.68C1039 3830 368 2633 271 3025.5C207.481 3282.52 1075.66 2637.87 801 2978');
        offset-path: path('M605.878 68.3506C760.466 4.84069 1060.74 -70.4315 1025.12 136.559C980.592 395.298 581.364 381.656 556.35 535.808C531.335 689.96 570.858 744.072 605.878 784.997C640.898 825.923 780.478 902.771 635.895 961.885C491.312 1021 227.161 957.338 137.109 1025.55C47.0578 1093.76 -27.9851 1134.23 12.0378 1202.44C52.0607 1270.64 740.955 1266.1 765.969 1257C790.983 1247.91 955.578 1111.94 975.589 1052.83C988.061 1015.99 1005.19 916.219 1016.8 841.036C1022.06 806.996 1006.36 773.112 976.477 755.979C916.057 721.335 840.873 683.331 825.503 694.507C800.489 712.696 651.404 712.241 765.969 821.375C869.037 919.556 883.835 922.05 950.971 924.872C967.049 925.548 982.688 930.882 996.03 939.88C1160.21 1050.6 1160.58 1024.93 1170.2 1111.94C1180.21 1202.44 1170.2 1189.25 1170.2 1257C1170.2 1324.76 1255.25 1234.27 1170.2 1429.34C1085.15 1624.42 1344.8 1751.74 1085.15 1837.69C825.503 1923.63 800.49 1946.37 605.878 1964.55C411.266 1982.74 236.666 2091.42 226.66 2155.08C216.655 2218.75 201.646 2250.12 226.66 2291.05C245.711 2322.22 401.99 2306.4 488.747 2293.04C497.125 2291.75 505.2 2289.18 512.761 2285.35C540.674 2271.2 575.929 2251.54 605.878 2231.2M605.878 2231.2C647.658 2202.81 679.114 2173.08 665.912 2155.08C635.895 2114.16 835.509 2028.22 870.529 2028.22C905.549 2028.22 970.586 1927.3 920.558 1919.08C870.529 1910.86 775.474 1823.59 665.912 1882.7C556.35 1941.82 531.336 1973.19 556.35 2073.23C581.364 2173.27 495.815 2098.59 605.878 2231.2ZM605.878 2231.2C710.438 2390.35 809.526 2409.65 764.5 2486.5C719.474 2563.35 910.552 2817.16 665.912 2826.26C421.272 2835.35 371.743 2826.26 286.695 2826.26C201.646 2826.26 -102.528 2767.14 137.109 3170.94C376.746 3574.74 865.526 3080.45 920.558 3080.45C975.589 3080.45 1271.08 2813.89 1131.5 3104C991.92 3394.11 892.583 3469.95 748 3379C603.417 3288.05 327.867 3376.49 411.266 3429.68C1039 3830 368 2633 271 3025.5C207.481 3282.52 1075.66 2637.87 801 2978');

    }
}

@import "media";